<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% if page.title %}{{ page.title }} · {% endif %}Word Rhymer{% if page.title-after %} · {{ page.title-after }}{% endif %}</title>
  <!-- google font Roboto Slab-->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700" rel="stylesheet">
  <!-- custom css -->
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <div class="container">
    {{ content }}
  </div>
  <!-- custom js -->
  <script src="js/main.js"></script>
</body>
</html>
